html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 180px;
  padding: 0;
  width: 384px;
  text-align: center;
}

h1 {
  font-family: "Menlo", monospace;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  color: #2f5876;
}

a:link,
a:visited {
  color: #000;
  outline: 0;
  text-decoration: none;
}
img {
  width: 30px;
}
.modal-header {
  align-items: center;
  border-bottom: 0.5px solid #dadada;
}
.modal-content {
  padding: 0 22px;
}
.modal-icons {
  border-top: 0.5px solid #dadada;
  height: 50px;
  width: 100%;
}
.logo {
  padding: 16px;
}
.logo-icon {
  vertical-align: text-bottom;
  margin-right: 12px;
}
.version {
  color: #444;
  font-size: 18px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 22px;
}
.flex {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  width: 120px;
}
.flex:hover {
  opacity: 0.4;
}
.flex .fa {
  font-size: 40px;
  color: #2f5876;
}
.btn {
  padding: 5px;
}
.save {
  padding: 3px 8px 3px 8px;
}
.close {
  padding: 3px 8px 3px 8px;
}
.container {
  margin-top: 5px;
  width: 100%;
  display: none;
}
.container i {
  padding: 2px;
}
.content-item {
  padding: 10px;
}
.note {
  padding: 2px;
  font-style: italic;
  margin-bottom: 5px;
}
.danger {
  color: red;
  font-weight: bolder;
}
